@import '@/styles/breakpoints';
.header {
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.08);
	.container {
		display: flex;
		align-items: center;
		@include breakpoint('lg') {
			padding: 20px;
			justify-content: space-between;
		}
		.linkLogo {
			.logo {
				font-size: 30px;
			}
		}
	}
}
